<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kote's Gin Store</title>
    <link rel="stylesheet" href="css/main.css">
    {{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> --}}
    {{!-- <link href="http://infinitycoder.com/codepen/animations.css" rel="stylesheet" /> --}}
    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://kit.fontawesome.com/fbd4ca866f.js" crossorigin="anonymous"></script>
</head>

<body>
        {{> navbar2 }}<br><br><br>
    
        <main>{{{ body }}}</main>

        {{> footer}}
 
    
    <script src="/socket.io/socket.io.js"></script>
</body>
</html>